<!-- further-info.component.html -->
<form [formGroup]="furtherForm">
  <input type="text" class="form-control" formControlName="address" placeholder="Address">
  <input type="tel" class="form-control" formControlName="phone" placeholder="Phone">
  <select class="form-control" title="country" formControlName="country">
    <option value="">Select Country</option>
    <option *ngFor="let c of ['US','UK','FR','DE','TN']" [value]="c">{{c}}</option>
  </select>

  <label class="btn btn-outline-primary">
    Upload ID Document
    <input type="file" hidden (change)="onIDSelected($event)">
  </label>

  <img *ngIf="idPreview" [src]="idPreview" alt="ID Preview" class="img-thumbnail mt-2">
</form>
