<div class="sidebar">
  <div class="sidebar-content">
    <ul class="menu">
      <li routerLink="/dashboard/trade" routerLinkActive="active">
        <i class="nc-icon nc-chart-bar-32"></i>
        <span class="menu-text">Trade</span>
      </li>
      <li routerLink="/dashboard/portfolio" routerLinkActive="active">
        <i class="nc-icon nc-paper"></i>
        <span class="menu-text">Portfolio</span>
      </li>
      <li routerLink="/dashboard/account" routerLinkActive="active">
        <i class="nc-icon nc-single-02"></i>
        <span class="menu-text">Account</span>
      </li>
      <li routerLink="/dashboard/community" routerLinkActive="active">
        <i class="nc-icon nc-chat-33"></i>
        <span class="menu-text">Community</span>
      </li>
    </ul>
  </div>
</div>
