<footer class="footer bg-dark text-white">
  <div class="container">
    <div class="row align-items-center">
      <nav class="footer-nav col-md-6">
        <ul>
            <li>
                <a href="/dashboard">
                Dashboard
                </a>
            </li>
            <li>
                <a href="/profile">
                Profile
                </a>
            </li>
            <li>
                <a href="/settings">
                Settings
                </a>
            </li>
        </ul>    
      </nav>
      <div class="credits ml-auto col-md-6 text-md-right text-center">
        <span>
          © {{ currentYear }}, made with <i class="fa fa-heart heart text-danger"></i> 
        </span>
      </div>
    </div>
  </div>
</footer>
